body {
    background-color: #004;
    margin: 0;
}

#container {
    display: grid;
    width: 80%;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 5px;
    margin: 0 auto;
    height: 100%;
}

#container > * {
    border-radius: 10px;
}

#header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #00a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.9rem;
}

#sidebar, #content {
    background-color: #ddd;
}

#sidebar {
    grid-area: 2 / 1 / 3 / 2;
}

#content {
    grid-area: 2 / 2 / 3 / 3;
    border-left: 2px solid black;
    box-shadow: 0 0 2px 2px black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-auto-rows: 30%;
    gap: 15px;
    padding: 15px;
    overflow: auto;
}

#content > div {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 2px 2px 3px 0 #000;
    background-color: #fff;
    color: #00a;
    font-size: 1.3rem;
}

.card > p {
    margin: 0;
}

.card > p ~ p {
    margin-top: 15px;
    padding: 0;
}

.card > button {
    display: block;
    background-color: #00a;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px;
    margin: 15px auto;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.card > button:hover {
    background-color: #00f;
}

#info input, #remove input {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #004;
    color: #c0c0c0;
    margin-top: 5px;
}

#info label + label {
    display: block;
    margin-top: 15px;
}

legend, label {
    font-size: 1.3rem;
    color: #444;
}

fieldset {
    border: 0;
}

fieldset ~ fieldset {
    margin-top: 35px;
}

#addBook, #removeBook {
    display: block;
    font-size: 1.3rem;
    background-color: #00a;
    color: #fff;
    margin: 15px auto;
    padding: 15px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
}

#addBook:hover, #removeBook:hover {
    background-color: #00f;
}

#removeBook {
    background-color: #a00;
    color: #fff;
}

#removeBook:hover {
    background-color: #f00;
}
